serif {
    font-family: "Oswald", Times, serif;
}

   .sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url("images/background.jpg");
}
  h1 {
        color: Darkblue;
        font-family: 'Oswald', sans-serif;
        margin: auto;
      }
      a {
        font: bold 11px Roboto;
        text-decoration: none;
        background-color: #010002;
        color: #000000;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        font-size: 25px;
      }
       ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: blue;
}

.oswaldt{font:oswald;}